.detailsTitleContainer {
  background-color: #C68B77; /* Dark green background */
  color: white; /* White text color */
  padding: 20px; /* Padding around the text */
  text-align: center; /* Center the text */
  width: 80%;
  margin-left: auto; /* Center horizontally */
  margin-right: auto;
}

.detailsFormContainer {
  background-color: #F5D0AF; /* Light green background */
  padding: 20px; /* Padding inside the container */
  margin-top: 20px; /* Space above the form container */
  margin-bottom: 20px; /* Space below each label */
  margin-left: auto; /* Center horizontally */
  margin-right: auto; /* Center horizontally */
  display: flex;
  flex-direction: column; /* Align fields vertically */
  gap: 10px; /* Space between each field */
  width: 80%;
}

/* Style for each label within the form to ensure they are full width and wrap the input */
.detailsFormContainer label {
  display: block; /* Makes label use full width */
  margin-bottom: 10px; /* Space below each label */
  color: 'back'; /* Dark green color */
  font-weight: bold; /* Make text bold */
}


/* Additional styles for inputs, selects, and the button to make them more consistent */
.detailsFormContainer input,
.detailsFormContainer select,
.AutismDetectorButton {
  width: 60%; /* Adjusted width for better form appearance */
  padding: 8px; /* Padding for better touch */
  margin: 5px auto; /* Center elements and add space above */
  display: block; /* Ensure elements are block-level for correct alignment */
}

.AutismDetectorButton {
  background-color: #C68B77; /* Dark green background */
  color: white; /* White text */
  border: none; /* Remove border */
  padding: 10px 15px; /* Padding around text */
  cursor: pointer; /* Cursor as pointer */
  transition: background-color 0.3s; /* Smooth background transition */
  font-weight: bold;
}

.AutismDetectorButton:hover {
  background-color: #C68B77; /* Darker green on hover */
}

.sensory-label {
  display: block; /* Makes each label take up its own line, stacking them vertically */
  text-align: center; /* Centers the text of the label */
  margin: 10px auto; /* Adds some space between each label and centers it horizontally */
}

.sensory-label input[type="checkbox"] {
  margin-right: 10px; /* Adds some spacing between the checkbox and its label text */
}
