.form-row {
    display: flex;
    justify-content: center; /* Centers the content horizontally */
    align-items: center; /* Aligns items vertically in the center */
    margin-bottom: 10px;
    margin-top: 20px;
  }
  
  .label-box {
    background-color: #034d32;
    color: white;
    padding: 5px;
    margin-right: 10px; /* Space between label and input */
    font-size: 18px; /* Larger font size */
    font-weight: bold; /* Bold font */
    width: 150px; /* Fixed width for labels */
  }
  
  input, select {
    padding: 5px;
    width: 200px; /* Uniform width for inputs and selects */
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the form contents vertically */
    justify-content: center;
    width: 100%; /* Sets the width of the form */
  }
  
  button2 {
    background-color: #034d32;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    width: 200px;
    height: 70px;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: bold;
  }
  
  button2:hover {
    background-color: green;
  }

  .form-container {
    background-color: #afc7ae;
    padding: 20px; /* Add some padding for spacing */
    border-radius: 10px; /* Rounded corners for the container */
    width: 900px;
    margin-left: 25%;
    margin-top: 20px;
  }  

  .go-back-button {
    background-color: #f0f0f0;
    color: #034d32;
    padding: 10px 15px;
    margin-top: 20px;
    margin-left: -90%;
    border-radius: 5px;
    border: 2px solid #034d32;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 10%;
  }
  
  .go-back-button:hover {
    background-color: #e0e0e0; /* Slightly darker grey on hover */
  }

@media (max-width: 768px) {
    .label-box {
      font-size: 16px; /* Decreased font size for labels on smaller screens */
      width: 130px; /* Adjusted label width for smaller screens */
    }
  
    input, select {
      width: 100%; /* Full width for inputs and selects on smaller screens */
    }

    .form-container {
        width: 60%;
        margin-left: 20%;
    }

    .go-back-button {
        width: 15%;
        height: 10%;
    }

    .label-box {
        width: 200px; /* Fixed width for labels */
    }

    input, select {
        width: 150px; /* Uniform width for inputs and selects */
    }
}