.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #C68B77;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  height: 50%;
}

.close {
  border: none;
  background: none;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  outline: none;
}

.question-container {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 25%;
    padding: 10px;
    width: 50%;
    font-size: 20px;
    background-color: #C68B77;
    color: white;
    border-radius: 8px;
    font-weight: bold;
  }

  .question-container-lightgreen {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 25%;
    padding: 10px;
    width: 50%;
    font-size: 20px;
    background-color: #F5D0AF;
    color: #C68B77;
    border-radius: 8px;
    font-weight: bold;
  }
  
  .question-label {
    display: block;
    margin-bottom: 10px;
  }
  
  .question-select {
    width: 40%;
    padding: 5px;
    border-radius: 4px;
  }
  
  .submit-button1 {
    width: 200px;
    height: 70px;
    font-size: 30px;
    border-radius: 50px;
    background-color: #C68B77;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: bold;
    margin-left: 0%;
  }

  .instruction-text {
    color: #C68B77;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: -30px;
    margin-left: 10%;
    border: 10px solid #C68B77;
    padding: 10px;
    border-radius: 10px;
    width: 50%;
  }

.go-back-button {
    background-color: #f0f0f0;
    color: #C68B77;
    padding: 10px 15px;
    margin-top: 20px;
    margin-left: -90%;
    border-radius: 5px;
    border: 2px solid #C68B77;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .go-back-button:hover {
    background-color: #e0e0e0; /* Slightly darker grey on hover */
  }

  @media (max-width: 768px) {
    .go-back-button {
        width: 10%;
        height: 10%;
    }
}
  
.modal-content {
  border: 2px solid #C68B77; /* Dark green border */
  padding: 20px; /* Example padding */
  border-radius: 5px; /* Optional: Rounded corners */
}

.modal-content h2 {
  color: #C68B77; /* Styling the header */
}

.test-completion-header {
  border-bottom: 5px solid #C68B77; /* Dark green line under the header */
  padding-bottom: 10px; /* Space between the text and the line */
  width: 850px;
}
