/* CSS STYLING SPECIFIC TO WEB PAGE TO BE ADDED */


/* .h1_kevin{
    color: black;
}

.h2_kevin{
    color: black;
} */

.landing_page_kevin{
    color: black;
    width: 80%;
}


.image_page{
    color: black;
    width: 80%;
}


.results_page{
    color: black;
    width: 80%;
}

.cam-button-kevin{
    width: calc((100% - 10%) / 2);
    height: 10vh;
    font-size: 1em; 
    background-color: #005eb8;
	color: white;
    margin: 1vh 2%; 

}

.bttn-row-kevin{
    display: flex;
    justify-content: center;
    
}