**/.idea
**/__pycache__/
.DS_Store
.vscode/settings.json
dist/
larks_final_project.egg-info/
test.db-journal
reference_chart/
shots/
ngrok
model_versions/
app/lanre/submitted_images/user_evaluation_results.json

# venv folder
flask/
venv/
.venv/

# databases
*.db

./pytest_cache
