html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  /* Add background gradient from top right to bottom left */
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  /* Add background gradient from top right to bottom left */
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items to the top of the screen */
}

.home {
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align content to the top of the container */
  padding-top: 20px; /* Add padding to the top */
  position: relative; /* Ensure positioning context for child elements */

  h1 {
    color: #005eb8;
    margin: 10px 0;
  }

  .app-links-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    background-color: #233342; /* Set a solid background color */
    padding: 10px; /* Add some padding */
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Add box shadow */
    position: relative; /* Ensure positioning context for child elements */
    z-index: 1; /* Ensure links are clickable */

    .app-link {
      text-decoration: none;
      color: inherit;
      width: 100%;
      box-sizing: border-box;

      .logo-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        border-radius: 10px;
        background-color: #fff; /* Set a solid background color */
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s, box-shadow 0.3s;
        max-width: 70%;
        position: relative;
        z-index: 1; /* Ensure logos are clickable */

        &:hover {
          transform: translateY(-5px);
          box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
        }

        img {
          max-width: 80%;
          border-radius: 15px;
        }

        .slogan {
          display: none;
          position: absolute;
          /* Adjust position to the right of the logo container */
          top: 50%;
          left: calc(100% + 10px); /* Adjust as needed */
          transform: translateY(-50%);
          padding: 5px 10px;
          border-radius: 5px;
          font-size: 12px;
          white-space: nowrap;
          opacity: 0;
          transition: opacity 0.3s, transform 0.3s;
        }
        &:hover .slogan {
          display: block;
          opacity: 1;
        }
      }
    }
  }

  /* Add background gradient from top right to bottom left */
  background: linear-gradient(to bottom left, #ffffff, #51b8e7);

  .home-image {
    width: 100%;
    position: fixed;
    z-index: 0; /* Ensure the image is behind other elements */
  }
}
