.home {
  h1 {
    color: #005eb8;
    margin: 10px 0;
  }

  .app-links-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin: 1.5rem;
    background-color: #233342;
    /* Set a solid background color */
    padding: 10px;
    /* Add some padding */
    border-radius: 10px;
    /* Add rounded corners */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    /* Add box shadow */
    /* Ensure positioning context for child elements */
    z-index: 1;
    /* Ensure links are clickable */

    .app-link {
      text-decoration: none;
      color: inherit;
      max-width: 200px;
      // min-width: 200px;
      // box-sizing: border-box;
      // margin: auto;

      .logo-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        border-radius: 10px;
        background-color: #fff;
        /* Set a solid background color */
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s, box-shadow 0.3s;
        width: 200px;
        height: 200px;
        position: relative;
        z-index: 1;
        /* Ensure logos are clickable */

        &:hover {
          transform: translateY(-5px);
          box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
        }

        img {
          width: 170px;
          height: 170px;
          border-radius: 15px;
        }

        .slogan {
          display: none;
          position: absolute;
          /* Adjust position to the right of the logo container */
          top: 50%;
          left: calc(100% + 10px);
          /* Adjust as needed */
          transform: translateY(-30%);
          padding: 5px 10px;
          border-radius: 5px;
          font-size: 12px;
          white-space: nowrap;
          opacity: 0;
          transition: opacity 0.3s, transform 0.3s;
        }

        &:hover .slogan {
          display: block;
          opacity: 1;
          top: 20%
        }
      }
    }

    /* Add background gradient from top right to bottom left */
    background: linear-gradient(to bottom left, #ffffff, #51b8e7);
  }

  .home-image {
    width: 100%;
    /* Ensure the image is behind other elements */
    z-index: 0;
  }
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .home {
    .home-image {
      position: static;
      /* Change the position to static for smaller screens */
      width: 100%;
      /* Adjust image width */
    }

    /* Additional mobile-specific styles can be added here */
  }
}