{% extends "base.html" %}
 {% block content %}
     <h1>Welcome to Lanre's App</h1>
     <div class="app-container">
        <!-- FLASHED MESSAGES -->
        <div >{% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              <ul class="flashes">
              {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
              {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
        </div>
  
        <!-- Header -->
        <div class="header-container">
          <h1 class="app_title">Camera</h1>
  
          <form method="post" action="{{ url_for('tasks') }}">
            <input type="submit" value="Stop/Start" name="stop" />
            <input type="submit" value="Capture" name="click"/>
            <input type="submit" value="Grey" name="grey" />
            <input type="submit" value="Negative" name="neg" />
            <input type="submit" value="Face Only" name="face" />
            <input type="submit" value="Start/Stop Recording" name="rec" />
          </form>
  
          <img src="{{ url_for('video_feed') }}" height="80%">
          <h3 style="font-family:courier;">Instructions:</h3>
          <ol style="font-family:courier;">
            <li>Stop/Start--Toggle between stop or start live streaming</li>
            <li>Capture--Take still-shot and save in the 'shots' directory</li>
            <li>Grey--Toggle between grayscale and RGB output</li>
            <li>Negative--Toggle between negative and RGB output</li>
            <li>Face Only--Shows just your face if present(Toggle on/off)</li> 
            <li>Start/Stop Recording--Toggle between starting and stopping video recording</li>	
                </ol>
        </div>
            <!-- Page content -->
          
  
        <div class="footer">
          <p>Made by Lanre</p>
        </div>
      </div>
 {% endblock %}