.authentication-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(6px + 2vmin);
  background-color: #005eb8;
}

.authentication-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: fit-content;
  min-height: 100vh;
  min-width: 320px;
}

.authentication-background {
  max-width: 390px;
  border-radius: 20px;
  background-color: white;
  margin: 20px;
}

.authentication-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
}

.authentication-page-title {
  color: #005eb8;
}

.authentication-form {
  margin: 0 auto;
  overflow: hidden;
  padding: 30px;
}

.signup-title,
.login-title {
  font-size: 40px;
  color: #005eb8;
  margin: 0px 0px 10px 0px;
  text-align: center;
}

.signup-subtitle,
.login-subtitle {
  margin-bottom: 20px;
  text-align: center;
  color: #53585f;
  font-size: 18px;
}

.form-labels {
  color: black;
  text-align: left;
}

.authentication-form-input {
  width: 100%;
  margin: 10px 0px;
  padding: 10px;
  padding: 10px 10px 10px 16px;
  border-radius: 20px;
  border: 1px solid #eeeeee;
  background: #eeeeee;
  outline: none;
  transition: border-color 0.5s;
  height: 45px;
  font-size: 16px;
}

.authentication-form-input:focus {
  border-color: #005eb8;
}

.authentication-button {
  padding: 10px;
  color: #ffffff;
  font-weight: bold;
  background: #005eb8;
  width: 100%;
  height: 45px;
  border: 1px solid #005eb8;
  border-radius: 40px;
  cursor: pointer;
  margin: 30px 0px;
  font-size: 16px;
}

.authentication-button:hover {
  border: 2px solid #005eb8;
  background-color: white;
  color: #005eb8;
  font-weight: bold;
}

.login-link-container,
.signup-link-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.login-link,
.signup-link {
  font-size: 15px;
  text-align: center;
  color: #53585f;
  margin: 20px 0px 0px 0px;
}

.error-message {
  color: #a40000;
  font-size: calc(5px + 2vmin);
  text-align: center;
}

.password-field-container {
  position: relative;
  margin-bottom: 20px;
}

.password-toggle-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: #0073b1;
  cursor: pointer;
  outline: none;
}

::placeholder {
  color: #adb5bd;
}
