header.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #233342;
  color: white;
  height: 140px;
  font-size: 24px;

  .title-link {
    text-decoration: none;
    color: white;

    .title {
      font-size: 60px;
      margin: 20px;
    }
  }

  .header-buttons {
    display: flex;
    align-items: center;

    button {
      border: 1px solid #004585;
      height: 30px;
      background-color: white;
      border-radius: 30px;
      color: #005eb8;
      cursor: pointer;
      font-weight: bold;
      font-size: 16px;
      margin-left: 10px;
      position: relative;
    }

    button:hover {
      border: 2px solid #004585;
    }

    .dropdown {
      position: relative;
      margin-left: 10px;

      .dropdown-button {
        background-color: white;
        color: #005eb8;
        padding: 6px 10px;
        border: 1px solid #004585;
        border-radius: 30px;
        cursor: pointer;
        font-weight: bold;
        font-size: 16px;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px #233342;
        z-index: 2; /* Increase z-index to ensure it appears above logos container */

        a {
          color: #233342;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
        }

        a:hover {
          background-color: #f1f1f1;
        }
      }

      &:hover .dropdown-content {
        display: block;
      }
    }
  }
}
