header.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #233342;
  color: white;
  height: 140px;
  font-size: 24px;

  .title-link {
    text-decoration: none;
    color: white;

    .title {
      font-size: min(7vw, 100px);
      margin: 20px;
    }
  }

  .header-buttons {
    display: flex;
    align-items: center;
    height: min(3vw, 40px);
    font-size: min(2vw, 25px);

    button {
      border: 1px solid #004585;
      background-color: white;
      border-radius: 30px;
      color: #005eb8;
      cursor: pointer;
      font-weight: bold;
      font-size: min(2vw, 25px);
      padding: 10px 20px;
      margin-left: 10px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 150px;
      box-sizing: border-box;
    }

    button:hover {
      color: white;
      background-color: #b6c0c9;
    }

    .dropdown {
      position: relative;
      margin-left: 10px;

      .dropdown-button {
        border: 1px solid #004585;
        background-color: white;
        border-radius: 30px;
        color: #005eb8;
        cursor: pointer;
        font-weight: bold;
        font-size: min(2vw, 25px);
        padding: 10px 20px;
        margin-left: 10px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 150px;
        box-sizing: border-box;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px #233342;
        z-index: 2; /* Increase z-index to ensure it appears above logos container */

        a {
          color: #233342;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
        }

        a:hover {
          background-color: #f1f1f1;
        }
      }

      &:hover .dropdown-content {
        display: block;
      }
    }
  }
}
