.daily-questions-container {
  background-color: #E0F2F1;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px auto;
  font-family: 'Arial', sans-serif;
}

  .daily-questions-container h2 {
    color: #1565C0; ;
  }
  
  .daily-questions-container textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #B2DFDB;
    border-radius: 5px;
    resize: vertical;
    height: 100px;
  }
  
  .daily-questions-container button {
    background-color:#42A5F5;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .daily-questions-container button:hover {
    background-color: #1E88E5; ;
  }
  
  .error-message {
    color: #D32F2F;
    background-color: #FFEBEE;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
  }
  
  textarea:focus, button:focus {
    outline: none; 
    border-color: #26A69A;
  }
  