.easeMindContainer {
  background-color: #E0F2F1;
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.easeMindTitle {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: .5rem;
  color: #333;
}

input[type="text"],
input[type="date"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="date"]:focus,
select:focus {
  border-color: #42A5F5;
  outline: none;
}

.easeMindButton {
  width: 100%;
  background-color: #42A5F5; 
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 4px;
  margin-top: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  display: inline-block;
}

.easeMindButton:hover {
  background-color: #1E88E5; 
}

.easeMindTitle {
  color: #1565C0; 
  margin-bottom: 30px;
}

.popupBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popupContent {
  position: relative;
  background-color: white;
  padding: 40px; 
  border-radius: 5px;
  width: 500px; 
  height: 500px; 
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.popupContent h1 {
  font-size: 30px; 
  margin: 0;
  color: red;
}

.popupContent p {
  font-size: 20px; 
  margin: 0; 
  line-height: 1.5;
}

.popupClose {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px; 
}
