<html>
    <head>
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>No title</title>
        {% endif %}
    </head>
    <body>
        <h1>Hello! Welcome to the landing page</h1>
        <div class="">
        <form method="post" class="menu-button">
            <button type="submit" name="button" value="alex" class="menu-btn">Alex's App</button>
        </form>
        </div>
        <div class="">
            <form method="post" class="menu-button">
                <button type="submit" name="button" value="kevin" class="menu-btn">Kevin's App</button>
            </form>
        </div>
        <div class="">
            <form method="post" class="menu-button">
                <button type="submit" name="button" value="lanre" class="menu-btn">Lanre App</button>
            </form>
        </div>
        <div class="">
            <form method="post" class="menu-button">
                <button type="submit" name="button" value="ramat" class="menu-btn">Ramat's App</button>
            </form>
        </div>
        <div class="">
            <form method="post" class="menu-button">
                <button type="submit" name="button" value="shreyas" class="menu-btn">Shreyas' App</button>
            </form>
        </div>
  </body>
</html>